.textField {
    width: auto;
    padding: .4rem;
    border-radius: 3px;
    accent-color: red;
    /* display: block; */
    box-shadow: none;
    border: 0px;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}

.textField:focus-visible {
    /* outline: 2px var(--color-font-darker) solid; */
    outline: 0;
    background-color: var(--color-lighter);
    transition: all 200ms ease-in-out;
}